<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>


<div class="col">
  <div class="row" style="padding: 3px 0px; justify-content: space-between; width:600px; align-self: center;">
    <label class="button">
      <input hidden type="file" multiple (change)="uploadFile($event.target.files, imageDataLeft)" #fileInput>
      Select Files
    </label>
    <div class="row">
      <button (click)="toggleTool(ToolName.Probe)" [ngClass]="{'pressed': enabledTool === ToolName.Probe}">Probe
        Tool</button>
      <button (click)="toggleTool(ToolName.FreehandRoi)"
        [ngClass]="{'pressed': enabledTool === ToolName.FreehandRoi}">ROI Tool</button>
    </div>
    <button (click)="clearTool()">Clear</button>
    <label class="button">
      <input hidden type="file" multiple (change)="uploadFile($event.target.files, imageDataRight)" #fileInput>
      Select Files
    </label>
  </div>
  <div class="row" style="justify-content: center;">
    <div oncontextmenu='return false;' class="disable-selection noIbar image-wrapper" unselectable='on'
      onselectstart='return false;' onmousedown='return false;'>
      <div id="dicomImageLeft" class="image-inner" #dicomImageLeft tabindex="0">
        <div class="dropZone" (onFileDropped)="uploadFile($event, imageDataLeft)" appDropFile
          *ngIf="imageDataLeft.loaded === false && imageDataLeft.loading === false">
          <label>
            <input hidden type="file" multiple (change)="uploadFile($event.target.files, imageDataLeft)" #fileInput>
            Select Files
          </label>
        </div>
        <div *ngIf="imageDataLeft.loading === true" class="center">
          <div class="col-min" style="align-items: center;">
            <div class="loading-indicator"></div>
            <h3 style="color: black;">Loading files...</h3>
          </div>
        </div>
      </div>
    </div>
    <div oncontextmenu='return false;' class="disable-selection noIbar image-wrapper" unselectable='on'
      onselectstart='return false;' onmousedown='return false;'>
      <div id="dicomImageRight" class="image-inner" #dicomImageRight tabindex="0">
        <div class="dropZone" (onFileDropped)="uploadFile($event, imageDataRight)" appDropFile
          *ngIf="imageDataRight.loaded === false && imageDataRight.loading === false">
          <label>
            <input hidden type="file" multiple (change)="uploadFile($event.target.files, imageDataRight)"
              #fileInputComp>
            Select Files
          </label>
        </div>
        <div *ngIf="imageDataRight.loading === true" class="center">
          <div class="col-min" style="align-items: center;">
            <div class="loading-indicator"></div>
            <h3 style="color: black;">Loading files...</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="flex:1;" class="col">
    <div class="row" style="justify-content: space-between;">
      <div class="row" style="justify-content: space-between;flex: 1;"
        [ngClass]="{'hidden': currentInfoView !== InfoView.Metadata}">
        <div class="row" style="align-items: center;">
          <h2 style="padding: 0 25px 5px 5px;">Metadata</h2>
          <button (click)="selectMetadata(true)" [disabled]="imageDataLeft.loaded === false"
            [ngClass]="{'pressed': imageDataLeft.loaded === true && isLeftSelected}">Left</button>
          <button (click)="selectMetadata(false)" [disabled]="imageDataRight.loaded === false"
            [ngClass]="{'pressed': imageDataRight.loaded === true && !isLeftSelected}">Right</button>
        </div>
        <div class="row-min" style="align-items: center;">
          <label for="inputSearchMetadata" style="padding-right: 5px;">Search:</label>
          <input type="text" id="inputSearchMetadata" #inputSearchMetadata
            (keyup)="onSearchInput(inputSearchMetadata.value)">
        </div>
      </div>
      <div class="row" style="justify-content: space-between;flex: 1;"
        [ngClass]="{'hidden': currentInfoView !== InfoView.Comparison}">
        <div class="row" style="align-items: center;">
          <h2 style="padding: 0 25px 5px 5px;">Comparison</h2>
          <button (click)="selectHistogram(HistogramType.dist)"
            [disabled]="imageDataLeft.loaded === false || imageDataRight.loaded === false"
            [ngClass]="{'pressed': selectedHistogram === HistogramType.dist}">Distribution</button>
          <button (click)="selectHistogram(HistogramType.diff)"
            [disabled]="imageDataLeft.loaded === false || imageDataRight.loaded === false"
            [ngClass]="{'pressed': selectedHistogram === HistogramType.diff}">Difference</button>
        </div>
      </div>
      <div class="row" style="justify-content: flex-end;align-items: center;flex: 1;">
        <button *ngIf="currentInfoView !== InfoView.Comparison" (click)="currentInfoView = InfoView.Comparison;"
          style="width:100px;">Comparison</button>
        <button *ngIf="currentInfoView !== InfoView.Metadata" (click)="currentInfoView = InfoView.Metadata;"
          style="width:100px;">Metadata</button>
      </div>
    </div>
    <div [ngClass]="{'hidden': currentInfoView !== InfoView.Metadata}" style="flex: 1;overflow: auto;">
      <table id="metadata-table" *ngIf="selectedMetadata !== undefined">
        <thead>
          <tr>
            <td style="width: 13em;">Key</td>
            <td>Value</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of selectedMetadata.filteredInfo | keyvalue">
            <td>{{v.key}}</td>
            <td>{{v.value}}</td>
          </tr>
        </tbody>
        <div *ngIf="noMatchesForFilter" style="padding: 5px 10px;">
          No matches for filter
        </div>
      </table>
      <div *ngIf="selectedMetadata === undefined" style="padding: 0 5px;">
        No metadata available
      </div>
    </div>
    <div [ngClass]="{'hidden': currentInfoView !== InfoView.Comparison}" style="flex: 1;overflow: auto;">
      <div class="row" style="justify-content: space-around;align-items: center;height: 100%;">
        <canvas id="canvasComp" #canvasComp></canvas>
        <div class="col">
          <h4>Distribution</h4>
          <div id="distChart" style="flex: 1;"
            [style.display]="selectedHistogram === HistogramType.dist ? undefined: 'none'">
          </div>
          <div id="diffChart" style="flex: 1;"
            [style.display]="selectedHistogram === HistogramType.diff ? undefined: 'none'">
          </div>
          <!-- <table>
            <tr>
              <td>Mean</td>
              <td>2</td>
            </tr>
            <tr>
              <td>Std.</td>
              <td>5</td>
            </tr>
          </table> -->
        </div>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>