<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>


<div class="col">
  <div class="row" id="top-menu">
    <select *ngIf="imageDataLeft.loaded || importedImageIds.size > 1" name="select-image" id="selectImageLeft"
      (input)="changeImage(selectImageLeft, imageDataLeft)" #selectImageLeft>
      <option *ngFor="let v of importedImageIds | keyvalue" value={{v.key}}
        [selected]="imageDataLeft.imageId === v.key">{{v.key}}</option>
      <option value="IMPORT" [selected]="false">Import Image</option>
    </select>
    <div class="col">
      <label for="layerOpacityLeft" class="small-label">Opacity: {{imageDataLeft.opacity}}</label>
      <input id="layerOpacityLeft" type="range" min="0" max="1" step="0.05" value={{imageDataLeft.opacity}}
        (change)="updateLayerOpacity(layerOpacityLeft.value, imageDataLeft)" #layerOpacityLeft>
    </div>
    <div class="row">
      <button (click)="toggleTool(ToolName.Probe)" [ngClass]="{'pressed': enabledTool === ToolName.Probe}">Probe
        Tool</button>
      <button (click)="toggleTool(ToolName.FreehandRoi)"
        [ngClass]="{'pressed': enabledTool === ToolName.FreehandRoi}">ROI Tool</button>
    </div>
    <button (click)="clearTool()">Clear</button>
    <div *ngIf="imageDataLeft.loaded || imageDataRight.loaded" style="align-self: center;">
      {{stackPosition + 1}}/{{stackSize}}
    </div>
    <div class="col">
      <label for="selectColormap" class="small-label">Colormap</label>
      <select name="colormap" id="selectColormap" (change)="changeColormap(selectColormap.value)" #selectColormap>
        <option *ngFor="let v of colormaps" value={{v.id}} [selected]="v.id === selectedColormap">{{v.name}}</option>
      </select>
    </div>
    <select *ngIf="imageDataRight.loaded || importedImageIds.size > 1" name="select-image" id="selectImageRight"
      (input)="changeImage(selectImageRight, imageDataRight)" #selectImageRight>
      <option *ngFor="let v of importedImageIds | keyvalue" value={{v.key}}
        [selected]="imageDataRight.imageId === v.key">{{v.key}}</option>
      <option value="IMPORT" [selected]="!imageDataRight.loaded">Import Image</option>
    </select>
    <div class="col">
      <label for="layerOpacityRight" class="small-label">Opacity: {{imageDataRight.opacity}}</label>
      <input id="layerOpacityRight" type="range" min="0" max="1" step="0.05" value={{imageDataRight.opacity}}
        (change)="updateLayerOpacity(layerOpacityRight.value, imageDataRight)" #layerOpacityRight>
    </div>
  </div>
  <div class="row" style="justify-content: center;">
    <div oncontextmenu='return false;' class="disable-selection noIbar image-wrapper" unselectable='on'
      onselectstart='return false;' onmousedown='return false;'>
      <div id="dicomImageLeft" class="image-inner" #dicomImageLeft tabindex="0">
        <div class="dropZone" (onFileDropped)="uploadFile($event, imageDataLeft)" appDropFile
          [style.display]="imageDataLeft.loaded === false && imageDataLeft.loading === false ? undefined: 'none'">
          <label>
            <input hidden id="fileInputLeft" type="file" multiple
              (change)="uploadFile($event.target.files, imageDataLeft)" #fileInputLeft>
            Select Files
          </label>
        </div>
        <div *ngIf="imageDataLeft.loading === true" class="center">
          <div class="col-min" style="align-items: center;">
            <div class="loading-indicator"></div>
            <h3 style="color: black;">Loading files...</h3>
          </div>
        </div>
      </div>
    </div>
    <div oncontextmenu='return false;' class="disable-selection noIbar image-wrapper" unselectable='on'
      onselectstart='return false;' onmousedown='return false;'>
      <div id="dicomImageRight" class="image-inner" #dicomImageRight tabindex="0">
        <div class="dropZone" (onFileDropped)="uploadFile($event, imageDataRight)" appDropFile
          [style.display]="imageDataRight.loaded === false && imageDataRight.loading === false ? undefined: 'none'">
          <label>
            <input hidden id="fileInputRight" type="file" multiple
              (change)="uploadFile($event.target.files, imageDataRight)" #fileInputRight>
            Select Files
          </label>
        </div>
        <div *ngIf="imageDataRight.loading === true" class="center">
          <div class="col-min" style="align-items: center;">
            <div class="loading-indicator"></div>
            <h3 style="color: black;">Loading files...</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="flex:1;" class="col">
    <div class="row" style="justify-content: space-between;">
      <div class="row" style="justify-content: space-between;flex: 2;"
        [ngClass]="{'hidden': currentInfoView !== InfoView.Metadata}">
        <div class="row" style="align-items: center;">
          <h2 style="padding: 0 25px 5px 5px;">Metadata</h2>
          <button (click)="selectMetadata(true)" [disabled]="imageDataLeft.loaded === false"
            [ngClass]="{'pressed': imageDataLeft.loaded === true && isLeftSelected}">Left</button>
          <button (click)="selectMetadata(false)" [disabled]="imageDataRight.loaded === false"
            [ngClass]="{'pressed': imageDataRight.loaded === true && !isLeftSelected}">Right</button>
        </div>
        <div class="row-min" style="align-items: center;">
          <label for="inputSearchMetadata" style="padding-right: 5px;">Search:</label>
          <input type="text" id="inputSearchMetadata" #inputSearchMetadata
            (keyup)="onSearchInput(inputSearchMetadata.value)">
        </div>
      </div>
      <div class="row" style="justify-content: space-between;flex: 2;"
        [ngClass]="{'hidden': currentInfoView !== InfoView.Comparison}">
        <div class="row" style="align-items: center;">
          <h2 style="padding: 0 25px 5px 5px;">Comparison</h2>
          <button (click)="selectHistogram(HistogramType.dist)"
            [disabled]="imageDataLeft.loaded === false || imageDataRight.loaded === false"
            [ngClass]="{'pressed': selectedHistogram === HistogramType.dist}">Distribution</button>
          <button (click)="selectHistogram(HistogramType.diff)"
            [disabled]="imageDataLeft.loaded === false || imageDataRight.loaded === false"
            [ngClass]="{'pressed': selectedHistogram === HistogramType.diff}">Difference</button>
        </div>
        <div class="row" style="align-items: center;">
          <button (click)="selectHistogramRegion(HistogramRegion.volume)"
            [disabled]="imageDataLeft.loaded === false || imageDataRight.loaded === false"
            [ngClass]="{'pressed': selectedHistogramRegion === HistogramRegion.volume}">Volume</button>
          <button (click)="selectHistogramRegion(HistogramRegion.stackPosition)"
            [disabled]="imageDataLeft.loaded === false || imageDataRight.loaded === false"
            [ngClass]="{'pressed': selectedHistogramRegion === HistogramRegion.stackPosition}">Stack Position</button>
          <button (click)="selectHistogramRegion(HistogramRegion.lastRoi)"
            [disabled]="imageDataLeft.loaded === false || imageDataRight.loaded === false"
            [ngClass]="{'pressed': selectedHistogramRegion === HistogramRegion.lastRoi}">Last ROI</button>
        </div>
      </div>
      <div class="row" style="justify-content: flex-end;align-items: center;flex: 1;">
        <button *ngIf="currentInfoView !== InfoView.Comparison" (click)="currentInfoView = InfoView.Comparison;"
          style="width:100px;">Comparison</button>
        <button *ngIf="currentInfoView !== InfoView.Metadata" (click)="currentInfoView = InfoView.Metadata;"
          style="width:100px;">Metadata</button>
      </div>
    </div>
    <div [ngClass]="{'hidden': currentInfoView !== InfoView.Metadata}" style="flex: 1;overflow: auto;">
      <table id="metadata-table" *ngIf="selectedMetadata !== undefined">
        <thead>
          <tr>
            <td style="width: 13em;">Key</td>
            <td>Value</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of selectedMetadata.filteredInfo | keyvalue">
            <td>{{v.key}}</td>
            <td>{{v.value}}</td>
          </tr>
        </tbody>
        <div *ngIf="noMatchesForFilter" style="padding: 5px 10px;">
          No matches for filter
        </div>
      </table>
      <div *ngIf="selectedMetadata === undefined" style="padding: 0 5px;">
        No metadata available
      </div>
    </div>
    <div [ngClass]="{'hidden': currentInfoView !== InfoView.Comparison}" style="flex: 1;overflow: auto;">
      <div class="row" style="justify-content: space-between;align-items: center;height: 100%;">
        <!-- <canvas id="canvasComp" #canvasComp></canvas> -->
        <div *ngIf="volumeStats === undefined" style="flex: 1;text-align: center;">
          No Comparison Available. Select a region of interest for the comparison.
        </div>
        <div *ngIf="volumeStats !== undefined" style="padding-left: 5px;">
          <table>
            <h4>Left</h4>
            <tr>
              <td>Mean</td>
              <td>{{volumeStats.meanLeft}}</td>
            </tr>
            <tr>
              <td>Std.</td>
              <td>{{volumeStats.stdLeft}}</td>
            </tr>
            <h4>Right</h4>
            <tr>
              <td>Mean</td>
              <td>{{volumeStats.meanRight}}</td>
            </tr>
            <tr>
              <td>Std.</td>
              <td>{{volumeStats.stdRight}}</td>
            </tr>
            <h4>Difference</h4>
            <tr>
              <td>Mean</td>
              <td>{{volumeStats.mean}}</td>
            </tr>
            <tr>
              <td>Std.</td>
              <td>{{volumeStats.std}}</td>
            </tr>
            <tr>
              <td>Max</td>
              <td>{{volumeStats.max}}</td>
            </tr>
            <tr>
              <td>Min</td>
              <td>{{volumeStats.min}}</td>
            </tr>
          </table>
        </div>
        <div class="col" [style.display]="volumeStats !== undefined ? undefined: 'none'">
          <h4>Distribution</h4>
          <div id="distChart" style="flex: 1;"
            [style.display]="selectedHistogram === HistogramType.dist ? undefined: 'none'">
          </div>
          <div id="diffChart" style="flex: 1;"
            [style.display]="selectedHistogram === HistogramType.diff ? undefined: 'none'">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>